@import url("https://fonts.googleapis.com/css2?family=Aboreto&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Aboreto", cursive;
  background: url("bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 330px;
}

.main {
  position: relative;
  display: flex;
  justify-content: space-around;
}

.drum {
  color: #cfffdc;
  border-radius: 4px;
  padding: 15px;
  width: 80px;
  height: 80px;
  border: 3px solid #cfffdc;
  font-size: 3rem;
}

.active {
  border: 5px solid #f7fd04;
  transform: scale(1.1);
  color: #f7fd04;
}
