* {
  margin: 0;
  padding: 0;
}

body {
  background: radial-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9)),
    url("bg.jpg");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  text-align: center;
}

.clock {
  width: 30rem;
  aspect-ratio: 1/1;
  position: relative;
  padding: 2rem;
  justify-content: center;
  padding: 2rem;
  border-radius: 50%;
  border: 0.1rem solid #fdeedc;
  backdrop-filter: blur(3px);
  margin: 50px auto;
}

.clock-inner {
  width: 100%;
  height: 100%;
  transform: translateY(-3px);
  position: relative;
}

.hand {
  width: 50%;
  height: 6px;
  background: #ffeeee;
  position: absolute;
  top: 50%;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: all 0.05s;
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}


